In [1]:
import os
import sys
sys.path.append('../../')

from financial_etl.company_info import CompanyInfo_ETL

In [2]:
etl = CompanyInfo_ETL()

In [3]:
symbols = ['JPM', 'GS']

## Define Storage Directory

In [4]:
dir_repo = '/Users/hhg/MLAI_Science/projects/finance/repo/HHworking/'
dir_data_lake = dir_repo + 'data_lake/'
dir_data = dir_repo + 'data'

if not os.path.exists(dir_data): os.makedirs(dir_data)

if not os.path.exists(dir_data_lake): os.makedirs(dir_data_lake)

## Extract

In [5]:
filename_raw = os.path.join(dir_data_lake, 'company_info.json') # note: raw company info data is in json format
etl.extract(symbols, filename_out=filename_raw)

## Transform

In [6]:
filename_out = os.path.join(dir_data, 'company_info.csv')
df = etl.transform(filename_in=filename_raw, filename_out=filename_out)
df

,address,city,state,zip,country,phone,website,industry,sector,longBusinessSummary,fullTimeEmployees,symbol
0,383 Madison Avenue,New York,NY,10179,United States,212 270 6000,https://www.jpmorganchase.com,Banks—Diversified,Financial Services,JPMorgan Chase & Co. operates as a financial s...,296877,JPM
1,200 West Street,New York,NY,10282,United States,212 902 1000,https://www.goldmansachs.com,Capital Markets,Financial Services,"The Goldman Sachs Group, Inc., a financial ins...",45400,GS